# 1.) Import the Credit Card Fraud Data From CCLE

In [1]:
import pandas as pd
from google.colab import drive
import matplotlib.pyplot as plt
import numpy as np

In [2]:
drive.mount('/content/gdrive/', force_remount = True)

Mounted at /content/gdrive/

In [3]:
df = pd.read_csv("/content/gdrive/MyDrive/Econ441B/fraudTest.csv")

In [4]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

# 2.) Select four columns to use as features (one just be trans_date_trans)

In [6]:
data=pd.DataFrame(data=df[['trans_date_trans_time','amt','category','city_pop']],columns=['trans_date_trans_time','amt','category','city_pop'])

In [7]:
data.head()

  trans_date_trans_time    amt        category  city_pop
0   2020-06-21 12:14:25   2.86   personal_care    333497
1   2020-06-21 12:14:33  29.84   personal_care       302
2   2020-06-21 12:14:53  41.28  health_fitness     34496
3   2020-06-21 12:15:15  60.05        misc_pos     54767
4   2020-06-21 12:15:17   3.19          travel      1126

In [8]:
target=pd.DataFrame(data=df[['is_fraud']])

In [9]:
target.head()

   is_fraud
0         0
1         0
2         0
3         0
4         0

# 3.) Create a unique variable out of trans_date.

In [10]:
# data["Time"] = pd.to_datetime(data["trans_date_trans_time"],format="%Y/%m/%d")
data['time'] = pd.DatetimeIndex(data["trans_date_trans_time"]).hour

In [11]:
data.head()

  trans_date_trans_time    amt        category  city_pop  time
0   2020-06-21 12:14:25   2.86   personal_care    333497    12
1   2020-06-21 12:14:33  29.84   personal_care       302    12
2   2020-06-21 12:14:53  41.28  health_fitness     34496    12
3   2020-06-21 12:15:15  60.05        misc_pos     54767    12
4   2020-06-21 12:15:17   3.19          travel      1126    12

In [12]:
data.drop(columns=['trans_date_trans_time'])

           amt        category  city_pop  time
0         2.86   personal_care    333497    12
1        29.84   personal_care       302    12
2        41.28  health_fitness     34496    12
3        60.05        misc_pos     54767    12
4         3.19          travel      1126    12
...        ...             ...       ...   ...
555714   43.77  health_fitness       519    23
555715  111.84       kids_pets     28739    23
555716   86.88       kids_pets      3684    23
555717    7.99          travel       129    23
555718   38.13   entertainment    116001    23

[555719 rows x 4 columns]

In [13]:
dummies=pd.get_dummies(data['category'])
X=pd.concat([dummies,data[['amt','city_pop','time']]],axis=1)
Y=target
X.head(10)

,entertainment,food_dining,gas_transport,grocery_net,grocery_pos,health_fitness,home,kids_pets,misc_net,misc_pos,personal_care,shopping_net,shopping_pos,travel,amt,city_pop,time
0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,2.86,333497,12
1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,29.84,302,12
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,41.28,34496,12
3,0,0,0,0,0,0,0,0,0,1,0,0,0,0,60.05,54767,12
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3.19,1126,12
5,0,0,0,0,0,0,0,1,0,0,0,0,0,0,19.55,520,12
6,0,0,0,0,0,1,0,0,0,0,0,0,0,0,133.93,1139,12
7,0,0,0,0,0,0,0,0,0,0,1,0,0,0,10.37,343,12
8,0,0,0,0,0,0,0,0,0,0,0,0,1,0,4.37,3688,12
9,0,1,0,0,0,0,0,0,0,0,0,0,0,0,66.54,263,12

In [14]:
Y

        is_fraud
0              0
1              0
2              0
3              0
4              0
...          ...
555714         0
555715         0
555716         0
555717         0
555718         0

[555719 rows x 1 columns]

# 4.) Oversample the data (this will be your training data).

In [15]:
# skip

# 5.) Train a Logistic regression.

In [16]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,Y, random_state=0)

In [17]:
# import sklearn
# print(sklearn.__version__)
# !pip install --upgrade scikit-learn

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
logisticRegr = LogisticRegression()
logisticRegr.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [20]:
y_pred=logisticRegr.predict(X_test)

In [21]:
#y_pred.sum()

# 6.) The company you are working for wants to target at a False Positive rate of 5% what threshold should you use? (Use oversampled data)

In [22]:
from sklearn.metrics import confusion_matrix
# predict class probabilities
y_prob = logisticRegr.predict_proba(X_test)
# select the threshold that gives you the desired false negative percentage
target_fn_percentage = 5
threshold = np.percentile(y_prob[:,1], 100-target_fn_percentage)
# make predictions using the selected threshold
y_pred = (y_prob[:,1] > threshold).astype(int)
# calculate the confusion matrix
confusion_matrix(y_test, y_pred)

array([[131711,   6671],
       [   272,    276]])

In [23]:
threshold

0.005552468869603073

# 7.) If the company makes .02*amt on True transactions and loses -amt on False (Use original data)

In [24]:
df['profit'] = np.where(df['is_fraud'] == 1, -df['amt'], 0.02*df['amt'])

In [25]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,profit
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0,0.0572
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0,0.5968
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0,0.8256
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0,1.2010
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0,0.0638

In [26]:
total_profit=df['profit'].sum()
total_profit

-384733.11139999994

# 8.) Using Logistic Regression Lasso to inform you. Would you use the selected features in a trusted prediction model?

In [27]:
logisticRegrLasso = LogisticRegression(penalty='l1',solver='liblinear')
logisticRegrLasso.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(penalty='l1', solver='liblinear')

In [28]:
y_pred_lasso=logisticRegrLasso.predict(X_test)
y_pred_lasso.sum()

46

In [29]:
# predict class probabilities
y_prob_lasso = logisticRegrLasso.predict_proba(X_test)
# select the threshold that gives you the desired false negative percentage
target_fn_percentage = 5
threshold = np.percentile(y_prob_lasso[:,1], 100-target_fn_percentage)
# make predictions using the selected threshold
y_pred_lasso = (y_prob_lasso[:,1] > threshold).astype(int)
# calculate the confusion matrix
confusion_matrix(y_test, y_pred_lasso)

array([[131691,   6691],
       [   292,    256]])